---
const { title, desc, image, color } = Astro.props;
import { Image } from "astro:assets";
---

<div class="feature">
  <h1 style=`color: ${color};`>{title}</h1>
  <p style="max-width: 65%;">{desc}</p>
  <Image src={image} loading="lazy" alt="Mythic logo" />
</div>

<style>
  .feature {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 16px;
    padding: 10px 20px;
    background-color: var(--secondary-nav-color);
    text-align: left;
  }

  .feature img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
</style>
