---
// const getThemeFromLocalStorage = () => {
//   return typeof window !== "undefined"
//     ? localStorage.getItem("theme") || "light"
//     : "light";
// };

// let theme = getThemeFromLocalStorage();
---

<footer class="footer">
  <div class="copyright">
    &copy; {new Date().getFullYear()} Mythic. All rights reserved. Not affiliated
    with Apple or any games/platforms.
  </div>
  <!-- <div class="theme-switcher">
    <button
      class={`theme-option ${theme === "light" ? "active" : ""}`.trim()}
      id="lightTheme"
    >
      Light
    </button>
    <button
      class={`theme-option ${theme === "dark" ? "active" : ""}`.trim()}
      id="darkTheme"
    >
      Dark
    </button>
  </div> -->
</footer>

<!-- <script src="/theme.js" defer></script> -->

<style>
  .footer {
    margin-top: 50px;
    width: 100vw;
    font-family: var(--pro-text);
    background-color: var(--primary-color);
    padding: 20px 0px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--secondary-text);
    border-top: 1px solid var(--stroke);
    justify-content: center;
  }

  .theme-switcher {
    display: flex;
    align-items: center;
    border: 1px solid var(--stroke);
    border-radius: 24px;
    transition: 0.3s;
  }

  .theme-option {
    border: none;
    background-color: transparent;
    color: var(--secondary-text);
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    font-family: var(--pro-text);
    transition: 0.3s;
  }

  .theme-option.active {
    color: #fff !important;
    font-weight: bold;
    background-color: var(--button-color);
    border-radius: 100px;
  }

  .copyright {
    font-size: 12px;
    color: var(--secondary-text);
    margin-left: 10px;
  }
</style>
