---
const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <div class="copyright">
    &copy; {currentYear} Mythic. All rights reserved.
  </div>
</footer>

<style>
  .footer {
    margin-top: 50px;
    width: 100vw;
    font-family: var(--pro-text);
    background-color: var(--primary-color);
    padding: 20px 0px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--secondary-text);
    border-top: 1px solid var(--stroke);
    justify-content: center;
  }

  .copyright {
    font-size: 12px;
    color: var(--secondary-text);
    margin-left: 10px;
  }
</style>
