---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <h1>Page Not Found</h1>
  <a class="button-md" href="javascript:window.history.back();">Go back</a>
</Layout>

<style>
  h1 {
    text-align: left;
    width: 100%;
  }

  a {
    align-items: left;
  }
</style>
