---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Found — Mythic">
  <h1>The page you're looking for doesn't exist.</h1>

  <a class="button-md" href="/">Go to Home</a>
</Layout>

<style>
  h1 {
    text-align: center;
    width: 100%;
  }
</style>
