@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.cdnfonts.com/css/sf-ui-text-2");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");

:root {
  --pro-display: "SF Pro Display", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --pro-text: "SF UI Text", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --primary-color: #ffffff;
  --secondary-color: #1d1d1f;
  --secondary-text: #86868b;
  --button-color: #0071e3;
  --button-hover-color: #357bd3;
  --a-color: #222222;
  --a-hover-color: #357bd3;
  --navbar-color: rgba(255, 255, 255, 0.9);
  --stroke: #dbdbdb;
  --secondary-nav-color: #f8f8f9;
}

[data-theme="dark"] {
  --primary-color: #1d1d1f;
  --secondary-color: #ffffff;
  --button-color: #0071e3;
  --button-hover-color: #357bd3;
  --a-color: #ffffff;
  --a-hover-color: #0071e3;
  --navbar-color: rgba(21, 21, 22, 0.9);
  --stroke: #3e3e3e;
  --secondary-nav-color: rgba(21, 21, 22);
}

body {
  background-color: var(--primary-color);
  margin: 0;
  padding-top: 52px;
}

nav {
  z-index: 100;
  display: flex;
  height: 52px;
  width: 100%;
  font-size: 12px;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: var(--navbar-color);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--stroke);
  transition: all 0.3s ease-in-out;
}

.logo {
  font-family: var(--pro-display);
  font-size: 21px;
  color: var(--secondary-color);
  padding-left: 100px;
}

.right-items {
  align-items: center;
  display: flex;
  margin-left: auto;
  gap: 25px;
  padding-right: 100px;
}

a {
  font-family: var(--pro-text);
  color: var(--a-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: var(--a-hover-color);
}

.button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  background: var(--button-color);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  outline: 0px;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: var(--pro-text);
  min-width: 23px;
  padding: 4px 11px;
  border-radius: 12px;
}

.button:hover {
  background: var(--button-hover-color);
}

.button-md {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  background: var(--button-color);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  outline: 0px;
  font-size: 16px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: var(--pro-text);
  min-width: 23px;
  padding: 8px 16px;
  border-radius: 18px;
}

.button-md:hover {
  background: var(--button-hover-color);
}

.alert {
  display: flex;
  background-color: var(--button-color);
  height: 50px;
  width: 100%;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.docs-nav {
  display: flex;
  background-color: var(--secondary-nav-color);
  height: 50px;
  width: 100%;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  animation: slideIn 0.5s ease-in-out forwards;
}

.docs-nav-text {
  color: var(--a-color);
  transition: 0.3s;
  cursor: pointer;
}

.docs-nav-text:hover {
  color: var(--a-hover-color);
}

.alert-text {
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
}

.alert-text:hover {
  color: #f7f1f1;
}

.CTA {
  max-width: 920px;
  margin: 50px auto 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faq_layout {
  display: flex;
  width: 100%;
  text-align: left !important;
}

h1 {
  font-family: var(--pro-display);
  color: var(--secondary-color);
  font-size: 40px;
}

h2 {
  font-family: var(--pro-display);
  color: var(--secondary-color);
}


p {
  font-family: var(--pro-text);
  color: var(--secondary-text);
  font-size: 21px;
}

.features {
  text-align: center;
  background-color: var(--secondary-nav-color);
  width: 100vw;
  max-width: 100%;
  padding: 15px 0px 15px 0px;
}

.feature_wrap {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  justify-content: center;
  max-width: 920px;
  margin: 50px auto 0;

  gap: 20px;
}

.card {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  max-width: 428px;

  animation: card-fade-in 0.4s ease-in-out forwards;
}

.card .button-md {
  width: 100px;
}

@keyframes card-fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.macos-version {
  font-family: var(--pro-text);
  color: var(--secondary-text);
  font-size: 14px;
}

.mythic-gradient-text {
  display: inline;
  max-width: 731px;
  --color-one: #5412F6;
  --color-two: #7E1ED8;
  --bg-size: 400%;
  font-size: 40px;
  background: linear-gradient(90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)) 0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: move-bg 40s infinite linear;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

img {
  max-width: 100%;
  height: auto;
  transition: 0.3s;
}

img:hover {
  transform: scale(1.05);
}

.footer {
  font-family: var(--pro-text);
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: var(--secondary-text);
  border-top: 1px solid var(--stroke);
}

.theme-switcher {
  display: flex;
  align-items: center;
  border: 1px solid var(--stroke);
  border-radius: 24px;
  transition: 0.3s;
}

.theme-option {
  border: none;
  background-color: transparent;
  color: var(--secondary-text);
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
  font-family: var(--pro-text);
  transition: 0.3s;
}

.theme-option.active {
  color: #fff !important;
  font-weight: bold;
  background-color: var(--button-color);
  border-radius: 100px;
}

.theme-option:hover {
  text-decoration: underline;
}

.copyright {
  max-width: 70%;
  font-size: 12px;
  color: var(--secondary-text);
  margin-left: 10px;
}

input {
  width: 100%;
  font-family: var(--pro-text);
  color: var(--secondary-text);
  font-size: 14px;
  padding: 10px;
  border: 1px solid var(--stroke);
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--pro-text);
  color: var(--pro-text);
}

th,
td {
  color: var(--a-color);
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--stroke);
}

th {
  font-weight: bold;
}

hr {
  margin: 10px 0px;
  width: 100%;
  border: 1px solid var(--stroke);
}

.h1-faq {
  text-align: left;
  width: 100%;
}

summary {
  width: 100%;
  text-align: left;
  font-family: var(--pro-display);
  color: var(--a-color);
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
}

details {
  width: 100%;
  text-align: left;
  font-family: var(--pro-text);
  color: var(--secondary-text);
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  table {
    font-size: 14px;
  }

  th,
  td {
    padding: 6px;
  }
}


@media only screen and (max-width: 768px) {
  .logo {
    padding-left: 20px;
    font-size: 18px;
  }

  .right-items {
    padding-right: 20px;
  }

  .button {
    font-size: 12px;
    min-width: 20px;
    padding: 3px 10px;
    border-radius: 10px;
  }

  .CTA {
    max-width: 550px;
    margin-top: 32px;
    padding-top: 52px;
  }

  h1 {
    font-size: 48px;
  }

  p {
    font-size: 20px;
  }

  .macos-version {
    font-size: 12px;
  }

  img {
    width: 768px;
  }

}

@media only screen and (max-width: 480px) {
  .logo {
    padding-left: 10px;
    font-size: 16px;
  }

  .right-items {
    padding-right: 10px;
    gap: 10px;
  }

  .button {
    font-size: 11px !important;
    min-width: 18px;
    padding: 2px 6px;
    border-radius: 8px;
  }

  .navwaitlist {
    display: none;
  }

  .CTA {
    max-width: 300px;
    margin-top: 16px;
    padding-top: 32px;
  }

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 16px;
  }

  .macos-version {
    font-size: 10px;
  }

  img {
    width: 480px;
  }
}